body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Color de texto oscuro */
}
header {
    background-color: #c62828; /* Rojo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #000; /* Negro */
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #555; /* Gris oscuro */
}
section {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Fondo blanco */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
h2 {
    color: #c62828; /* Rojo oscuro */
}
footer {
    background-color: #222; /* Negro ligeramente más claro */
    color: #fff; /* Texto blanco */
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Estilos para la galería de fotos */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    max-width: 1%; /* Hace que la imagen se ajuste al ancho máximo del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    margin: 10px; /* Añade un margen entre las imágenes */
    border-radius: 5px; /* Agrega un borde redondeado */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
}

