body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
    color: #333; /* Color de texto oscuro */
}
header {
    background-color: #c62828; /* Rojo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #000; /* Negro */
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #555; /* Gris oscuro */
}
section {
    padding: 20px;
    text-align: center;
    background-color: #fff; /* Fondo blanco */
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
h2 {
    color: #c62828; /* Rojo oscuro */
}
footer {
    background-color: #222; /* Negro ligeramente más claro */
    color: #fff; /* Texto blanco */
    padding: 10px;
    text-align: center;
    bottom: 0;
    width: 100%;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%; /* Establecer el ancho máximo del contenedor */
    padding: 0 20px; /* Añadir relleno horizontal para evitar que las imágenes estén pegadas a los bordes */
    box-sizing: border-box; /* Incluir el relleno en el cálculo del ancho */
}

.gallery img {
    max-width: calc(33.33% - 20px); /* Ajustar el ancho máximo de la imagen a un tercio del contenedor menos el margen */
    width: 100%; /* Asegurar que la imagen ocupe todo el espacio disponible */
    height: auto;
    margin: 10px; /* Ajustar el margen entre las imágenes */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

